services:
  - type: web
    name: bot-clan
    env: python
    plan: free
    region: oregon
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python bot.py"
    envVars:
      - key: TOKEN
        sync: false
      - key: ADMIN_USER_ID
        sync: false
      - key: WEBHOOK_URL
        value: "https://<tu-servicio>.onrender.com/<TOKEN>"
      - key: DATA_DIR
        value: "/tmp/clan_bot"
