services:
  - type: web
    name: clan-bot
    env: python
    plan: free
    region: oregon
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        sync: 8498585179:AAGt4s7cKB28UgA7UFQNm6XXKowG7AWItE0
      - key: ADMIN_ID
        sync: 1196575284
    healthCheckPath: /health
    autoDeploy: true
