services:
  - type: web
    name: bot-clan
    env: python
    plan: free
    region: oregon
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python bot.py"
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_ID
        sync: false
      - key: WEBHOOK_URL
        value: "https://clan-bot-r388.onrender.com/<BOT_TOKEN>"
      - key: PORT
        value: "8443"
      - key: DATA_DIR
        value: "/tmp/clan_bot"
